<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Sign In</a></li>
        <li class="tab col s6"><a href="#register">Sign Up</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">
        <h1>Enter the store</h1>
        <form action="/auth/login", method="post">
            <div class="input-field">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Enter your email"></span>
            </div>

            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="Enter the password"></span>
            </div>

            {{#if error}}
                <p class="error">{{error.log_error}}</p>
            {{/if}}
            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
    </div>
    <div id="register" class="col s6 offset-s3">
        <h1>Create an account</h1>
        <form action="/auth/register", method="post">
            <div class="input-field">
                <input id="reg_email" name="reg_email" type="email" class="validate" required>
                <label for="reg_email">Email</label>
                <span class="helper-text" data-error="Enter your email"></span>
            </div>

            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Name</label>
                <span class="helper-text" data-error="Enter your name"></span>
            </div>

            <div class="input-field">
                <input id="reg_password" name="reg_password" type="password" class="validate" required>
                <label for="reg_password">Password</label>
                <span class="helper-text" data-error="Enter the password"></span>
            </div>

            <div class="input-field">
                <input id="confirm" name="confirm" type="password" class="validate" required>
                <label for="confirm">Enter your password again</label>
                <span class="helper-text" data-error="Enter your password again"></span>
            </div>

            {{#if error}}
                <p class="error">{{error.reg_error}}</p>
            {{/if}}
            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
  </div>
</div>